@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --logo-pink: #F4989C;
    --accent-green: #D6F6DD;
    --accent-purple: #DAC3F7;
    --accent-brown: #EBD2B4;
    --accent-blue: #ACECF7;
    --background-color: white;
    --logo-font: 'Rubik Bubbles', system-ui;
    --main-font: 'Sour Gummy', sans-serif;
}

/* Header styles */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    font-family: var(--main-font);
}

#logo {
    color: var(--logo-pink);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--logo-font);
}

/* Search bar styles */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}

#search-button {
    height: 30px;
    width: 30px;
    border: var(--accent-purple);
    background-color: var(--accent-purple);
    border-radius: 5px;
}

#search-button:hover {
    cursor: pointer;
}

.search-bar svg {
    color: white;
}

#search-input {
    width: 50%;
    height: 25px;
    min-width: 250px;
    border: solid 2px var(--accent-purple);
    border-radius: 5px;
    margin-left: 5px;
}

/* Home page styles  */
.home-cards-div {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-card {
    border: solid 5px var(--accent-brown);
    width: 300px;
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.home-card h2 {
    margin: 0px 0px 40px 0px;
}

.home-card h2:hover {
    cursor: pointer;
    color: var(--logo-pink);
}

.home-card a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.home-card a:hover {
    color: var(--logo-pink);
}

.card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid 2px var(--accent-blue)
}


.card-group img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

/* Favorites page styles */

#favorites-heading {
    text-align: center;
}

#favorites-card-div {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favorites-card {
    border: solid 5px var(--accent-blue);
    width: 250px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

.favorites-card h2 {
    margin: 0px 0px 40px 0px;
}

.favorites-card a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.favorites-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

/* Individual Dessert Page Styles */

.individual-recipe-data {
    border: solid 5px var(--accent-green);
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    margin: 40px auto;
}

.individual-recipe-data img {
    max-width: 300px;
    width: 80%;
}

#add-to-favorites-button {
    color: white;
    background-color: var(--logo-pink);
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--main-font);
}

#add-to-favorites-button:hover {
    cursor: pointer;
    background-color: var(--accent-brown);
    color: var(--logo-pink);
}